.sliderWrapper h1{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: rgba(27, 60, 116, 1);
    margin-bottom: 50px;
    margin-top: 0;
}

.card img{
    width: 300px;
    height: 350px;
}

.sliderWrapper {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    font-family: "Poppins",sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: rgba(27, 60, 116, 1);
}

.card p {
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: rgba(42, 167, 255, 1);

}
