.banner{
    background: rgba(42, 167, 255, 1);
    color: #fff;
    padding: 2px;
    text-align: center;
    
}

.banner p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    word-spacing: 2px;
}

.home .navbar{
    padding: 0 10%;
    position: sticky;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
}

.heroSection{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding:0 10%;
    /* padding-bottom: 1px; */
    
}

.heroBody{
    display: flex;
    /* grid-template-columns: 2fr 1fr; */
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
    /* position: relative;
    z-index: 1; */
}

.heroText{
    text-align: left;
}

.heroText h3{
    font-family: "Poppins", sans-serif;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 3px;
}

.heroText .f{
    font-family: "Poppins",sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: black;
}

.heroText .s{
    font-family: "Poppins",sans-serif;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(42, 167, 255, 1);
}

.heroText p{
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: rgba(92, 97, 105, 1);
    margin-bottom: 30px;
    
}

.heroImage{
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;
}

.heroImage .heroImg{
    height: 550px;
    width: 650px;
    margin-top: 30px;
}

.heroImage .heroImageDots{
    position: absolute;
    height: 100px;
    width: 100px;
    right:2% ;
} 

.searchSection{
    background-color: #fff;
    padding: 50px 40px;
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 15px;
    box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
    position: relative;
    top: -130px;
    z-index: 99;
    margin: 0 4%;
}

.search{
    margin: 20px;
}

.searchSection h3{
    text-align: center;
    margin: 6% 0 4% 0;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: rgba(16, 40, 81, 1);
}

.searchSectionCards{
    display: flex;
    justify-content: space-between;
}

.offerSection{
    background-color: #fff;
    margin: 70px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialisationSection{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    padding: 3% 10%;
}

.doctor{
    /* width: 90vw; */
    padding: 2% 5%;
    
}

@media screen and (max-width: 900px) {
    .heroBody{
        display: flex;
        flex-direction: column;
    }

    .searchSectionCards{
        /* box-sizing: border-box; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        /* box-sizing: inherit; */
    }

}